<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        <main>
            <h1>Jantae Leckie</h1>
            <p>I am a computer science major and a geography minor. I enjoy cooking and reading
                (of course not for school). I find demograpics to be very interesting.I like puppies</p>
            <img src="{{ url_for('static', filename='puppies.jpg') }}" alt="pup">
        </main>
        <footer>
            <p>Copyright &copy; 2020 Jantae Leckie.</p>    
        </footer>
    </body>
</html>